.alert-message {
    width: max-content;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 40%;
    visibility: hidden;
    transition: .5s ease;
    

    .alert {
        padding: 1.5rem !important;
    }

    .active {
        visibility: visible;
        opacity: 1 !important;
        transform: translateY(120px);
        transition: opacity 0.5s ease;
        transition: transform 0.7s ease;
    }


}