.contact{
   margin-top: 200px;
    &-img{
        margin-top: 40px;
        text-align: center;
    }
    &-text{
        text-align: center;
        margin-top: 20px;
        font-size: 20pt;
        font-weight: 500;
    }
}